*.html
*.lso
*.prj
*.stx
*.xst
*.filter
*.xreport
*.projectmgr
*.bgn
*.bld
*.cmd_log
*.ncd
*.ngc
*.ngd
*.ngr
*.par
*.pcf
test.bit
test.drc
TEST.pad
TEST.ptwx
TEST.syr
TEST.twr
TEST.twx
TEST.unroutes
TEST.ut
TEST.xpi
*.gise
*.xise
*.xwbt
*.map
*.mrp
*.ngm
*.xrpt
*.xml
*.log
*.xbcd
*.vdbl
*.vdbx
*.lst
*.xmsgs